body{
    background-color: black;
    background-image: url("projectbackground2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
}
h1{
    text-align: center;
    
}
.card{
    width: 70%;
    margin: auto;
    margin-top: 7.5%;
    border-radius: 10px;
    background-color: rgb(212, 47, 47);
    color: white;
    
}

.video-box iframe{

    align-items: center;
    width: 75%;
    height: 300px;
    background-color: black;
    border-radius: 50px;
    border-style: groove;
}

.high-scores{
    border-radius: 25%;
    border-style: solid;
    border-color: black;
    padding: 20px;
    width: 50%;
}
button{
    background-color: yellow;
    border-radius: 10px;
    transition-duration: 0.4s;
}
button:hover {
    background-color: purple;
    
}
