body{
    background-color: black;
    background-image: url("projectbackground2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
}
h1{
    text-align: center;
    
}
.card{
    width: 70%;
    margin: auto;
    margin-top: 7.5%;
    border-radius: 10px;
    background-color: rgb(212, 47, 47);
    color: white;
    
}
a:link{
    text-decoration: none;        
}

a {
    color: black;
    }
    
button{
    border-radius: 10px;
    transition-duration: 0.4s;
}
button:hover {
    opacity: 0.5;;
    
}
