
body{
    background-color: black;
}
h1, h3{
    text-align: center;
}
.card{
    width: 70%;
    margin: auto;
    margin-top: 5%;
    border-radius: 50px;
    background-color: rgb(212, 47, 47);
    color: white;
}

.hero-box img{
    width: 300px;
    height: 300px;
    background-color: black;
    border-radius: 50px;
}
.hints-box{
    width: 300px;
    height: 300px;
    border-style: solid;
    border-color: black;
    border-radius: 50px;
    padding: 30px;
}
.timer{
    border-radius: 25%;
    border-style: solid;
    border-color: black;
    padding: 20px;
    width: 25%;
}

.container-button{
    
    border-style: solid;
    border-color: black;
}

button{
    margin-right: 10%;
    margin-left:11%;
    margin-top: 10%;
    margin-bottom: 4%;
    border-radius: 10px;
    color:purple;
    font-weight: bold;
    background-color: yellow;
}

button:hover{
    opacity: 0.5;
}

@media only screen and (max-width: 850) {
    body{
        background-color:white;
    }
  }

