
/* font-family: 'Indie Flower', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Shadows Into Light', cursive; */

body{
    background-color: black;
}
#heading{
    font-size: 200px;
}
h1, h3{
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}

a:link{
    text-decoration: none;        
}

a {
    color: black;
    }
.card{
    width: 70%;
    margin: auto;
    margin-top: 5%;
    border-radius: 50px;
    background-color: rgb(212, 47, 47);
    color: white;
}
.hero-row{
    margin-bottom: -10%;
    height: 30px;
}
.hero-box img{
    width: 100%;
    
    background-color: black;
    border-radius: 50px;
}
.hints-box{
    width: 100%;
    
    border-style: solid;
    border-color: black;
    border-radius: 50px;
    padding: 30px;
}
.gif-box{
   width: 50%;
    border-style: solid;
    border-color: black;
    border-radius: 50px;
    padding: 30px;
}
.timer{
    border-radius: 25%;
    border-style: solid;
    border-color: black;
    padding: 20px;
    width: 25%;
}

.container-button{
    
    border-style: solid;
    border-color: black;
}
.buttons{
    font-family: 'Permanent Marker', cursive;
    font-size: 200%;
}

button{
    margin-right: 10%;
    margin-left:11%;
    margin-top: 10%;
    margin-bottom: 4%;
    border-radius: 10px;
    color:purple;
    font-weight: bold;
    background-color: yellow;
}
#start{
    margin-left: auto;
    margin-right: auto;
    margin-left: 20%;
    width: 20%;
    height: 100px;
    border-radius: 50px;
    font-family: 'Press Start 2P', cursive;
}

button:hover{
    opacity: 0.5;
}
#score{
    border-radius: 25%;
    border-style: solid;
    border-color: black;
    padding: 20px;
    width: 25%;
}
@media only screen and (max-width: 850) {
    body{
        background-color:white;
    }
  }

